.container {
  box-sizing: border-box;
  background: black;
  font-family: "Encode Sans Condensed", sans-serif;
  font-family: "Kablammo", cursive;
  font-family: "Roboto Mono", monospace;
}

.text {
  font-size: 20px;
  margin: 0;
  display: flex;
  justify-content: center;

  background: linear-gradient(to right, #ffffff, #6dd5fa, #3dd1e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: text 5s linear infinite;
}

@keyframes text {
  0% {
    filter: hue-rotate(339deg);
  }

  100% {
    filter: hue-rotate(345deg);
  }
}
